.slide1 {
    height: 175px;
    overflow: hidden;
    margin-right: 10px;
}
#tieude {
    text-transform: uppercase;
    margin-top: 10px;
    color: black;
    font-size: 33px;
    font-family: 'Open Sans', sans-serif;
}
.pic01 {
    background-color: rgba(84, 38, 112, 0.7);
    text-align: center;
    position: absolute;
    bottom: -52px;
    right: 15px;
    padding: 15px 20px;
    display: block;
    font-size: 16px;
    color: white;
    width: 255px;
    font-family: 'Open Sans', sans-serif;
}
.pic02 {
    background-color: rgba(84, 38, 112, 0.7);
    text-align: center;
    position: absolute;
    bottom: -76px;
    right: 15px;
    padding: 15px 20px;
    display: block;
    font-size: 16px;
    color: white;
    width: 255px;
    font-family: 'Open Sans', sans-serif;
}
.mslide01 {
    width: 200px;
    position: relative;
    height: 250px;
}
.mslide01:hover .pic01 {
    bottom: 60px;
    transition: 0.9s;
}
.mslide01:hover .pic02 {
    bottom: 60px;
    transition: 0.9s;
}

/*silde 2*/

#tieude3 {
    text-transform: uppercase;
    margin-top: 10px;
    color: black;
    font-size: 33px;
    font-family: 'Open Sans', sans-serif;
}

.slide2 {
    height: 200px;
    overflow: hidden;
}
.mslide1 {
    overflow: hidden;
}
.pic1 {
    position: relative;
    transition: transform 0.5s;

}
.pic1:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.btnplay1 {
    position: absolute;
    top: 20px;
    left: 45px;
}

.mslide2 {
    overflow: hidden;
}
.pic2 {
    position: relative;
    transition: transform 0.5s;
}
.btnplay2 {
    position: absolute;
    top: 20px;
    left: 45px;
}
.pic2:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.mslide3 {
    overflow: hidden;
}
.pic3 {
    position: relative;
    transition: transform 0.5s;
}
.btnplay3 {
    position: absolute;
    top: 20px;
    left: 45px;
}
.pic3:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.mslide4 {
    overflow: hidden;
}
.mslide5 {
    overflow: hidden;
}
.mslide6 {
    overflow: hidden;
}
